<!doctype HTML>

    <!-- head -->

    <html lang="en">
    <head>
    	<title>{{ .Title }}</title>

    	<!-- meta -->
    	<meta charset=utf-8>
    	<meta name="description" content="{{ .Description }}">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    	<!-- css -->
 <link rel="stylesheet" href="public/static/css/bare.min.css">
    </head>

    <!-- body -->

    <body>

    <!-- nav -->

    <nav><!-- use fx attribute for fixed positioning -->
    	<label>
    		<input type="checkbox">
    		<header>
    			<a href="/">Link_Monster</a>
    		</header>

    		<ul>
    			<li><a href="/new">Новые</a></li>
    			<li><a href="/search">Поиск</a></li>
    			<li>
    				<a>...</a>
    				<menu>
    					<menuitem><a href="/about">О Нас</a></menuitem>
    					<menuitem><a href="/help">Помошь</a></menuitem>
    					<menuitem><a href="/add">Добавить</a></menuitem>
    				</menu>
    			</li>
    		</ul>
    	</label>
    </nav>
