{{ template "header.html"  .}}



<div class="container">
<h3 class="section-heading">{{.Singledata.Urllink}} </h3>
<p class="section-description">{{.Singledata.Descriptionshort}}</p>
<a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>


	<p class="section-description">{{.Singledata.Urllink}} </p>
    <p class="section-description">{{.Singledata.Title}} </p>
    <p class="section-description">{{.Singledata.Ico}}</p>
    <p class="section-description">{{.Singledata.Adddate}} </p>
    <p class="section-description">{{.Singledata.Descriptionshort}} </p>
	<p class="section-description">{{.Singledata.Descriptionfull}} </p>
	<p class="section-description">{{.Singledata.Visits}}</p>

</div>

{{ template "footer.html"  .}}
